@white: #ffffff;
@black: #000000;
@clr-theme-primary: #07a0c3;
@clr-theme-secondary: #ca1666;
@clr-theme-highlight: #cdefd7;
@clr-theme-highlight-light: #d9f3e0;
@clr-theme-highlight-dark: #36AB59;

// 252323 a black
// F7DD72 yellow
// FA7921 orange
// 00487C dark blue
// F8C630 a yellow
// 35012C purple
// FFE74C bright yellow
