#root {
	height: 100%;
	width: 100%;
}

.mainContent {
	margin-top: 60px;
	height: calc(100% - 60px);
	width: 100%;
}

.scrollContainer {
	overflow: auto;
}

.fullWidth {
	width: 100%;
}
.fullHeight {
	height: 100%;
}


