#root {
	height: 100%;
	width: 100%;
}

.mainContent {
	margin-top: @header-height;
	height: calc(100% - @header-height);
	width: 100%;
 }

.mainContentPadding {
	padding: 1rem 2rem 1rem 4rem; // top, right, bottom, left

	
	@media @large-down {
		padding: 1rem 2rem;
	}
	@media @medium-down {
		padding: 1rem 1rem;
	}
	@media @small-down {
		padding: 1rem 0.5rem;
	}
}

.scrollContainer {
	overflow: auto;
}

.fullWidth {
	width: 100%;
}
.fullHeight {
	height: 100%;
}


