/* Basics */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}
body {
  background: #ffffff;
  color: #000000;
}
p,
span,
div,
td {
  font-size: 18px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #000000;
}
table {
  border-collapse: collapse;
}
/* remove margins */
div,
span,
a,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
ul,
p {
  margin: 0px;
  box-sizing: border-box;
}
.standardPadding {
  padding: 1rem;
}
.clickable {
  cursor: pointer;
}
/* Color default */
h1,
h2,
h3 {
  color: #296EB4;
  white-space: nowrap;
}
/* Flex */
.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}
.flexJustifyCenter {
  display: flex;
  justify-content: center;
}
.flexFloatBottom {
  margin-top: auto;
}
.flexFloatTop {
  margin-bottom: auto;
}
.flexFloatLeft {
  margin-right: auto;
}
.flexFloatRight {
  margin-left: auto;
}
.hidden {
  display: none;
}
.visible {
  display: flex !important;
}
.link {
  color: #296EB4;
}
.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
.material-icons {
  font-size: 2rem;
}
#root {
  height: 100%;
  width: 100%;
}
.mainContent {
  margin-top: 70px;
  height: calc(100% - 70px);
  width: 100%;
}
.mainContentPadding {
  padding: 1rem 2rem 1rem 4rem;
}
@media only screen and (max-width: 992px) {
  .mainContentPadding {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .mainContentPadding {
    padding: 1rem 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .mainContentPadding {
    padding: 1rem 0.5rem;
  }
}
.scrollContainer {
  overflow: auto;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #414141;
  z-index: 10;
}
.navbar .navbarTitle {
  margin-left: 4rem;
  overflow: hidden;
}
.navbar .navbarTitle > * {
  font-size: 2rem;
}
.navbar .navbarTitle .name {
  padding-right: 1rem;
  margin-right: 1rem;
  font-weight: 600;
}
.navbar .navbarTitle .pageTitle {
  display: none;
  color: #C42348;
  font-weight: 600;
}
.navbar .mobilePulldownIcon {
  display: none;
  margin-left: auto;
  padding: 0.2rem;
}
.navbar .navbarLinks {
  margin-left: auto;
}
.navbar .navbarLinks a {
  padding: 0.2rem 1rem;
  border-bottom: 3px solid #ffffff;
  font-size: 1.3rem;
}
.navbar .navbarLinks a.active {
  color: #C42348;
  border-bottom: 3px solid #C42348;
  font-weight: bold;
}
.navbar .navbarLinks .iconLinks {
  display: flex;
}
.navbar .navbarLinks .iconLinks a {
  margin: 0 1em 0 1em;
  font-size: 1rem !important;
}
.navbar .navbarLinks .iconLinks a.githubLink {
  background: url('images/icons/GitHub-Mark-64px.png') no-repeat center;
  background-size: 100%;
}
.navbar .navbarLinks .iconLinks a.linkedinLink {
  background: url('images/icons/LI-In-Bug.png') no-repeat center;
  background-size: 100%;
}
@media only screen and (max-width: 992px) {
  .navbar .navbarTitle {
    margin-left: 2rem;
  }
  .navbar .navbarTitle .name {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 3px solid #296EB4;
  }
  .navbar .navbarTitle .pageTitle {
    display: flex;
  }
  .navbar .navbarLinks {
    display: none;
    position: fixed;
    right: 0px;
    top: 70px;
    width: 200px;
    padding: 0 1rem;
    flex-direction: column;
    background: #ffffff;
    box-shadow: -2px 3px 4px #7b7b7b;
  }
  .navbar .navbarLinks a {
    padding: 0.5rem 1rem;
  }
  .navbar .navbarLinks .iconLinks {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    display: block;
  }
  .navbar .mobilePulldownIcon {
    display: inline;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .navbarTitle {
    margin-left: 1rem;
  }
  .navbar .navbarTitle > * {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .navbar .navbarTitle {
    margin-left: 0.5rem;
  }
  .navbar .navbarTitle .name {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
  }
  .navbar .navbarTitle .pageTitle {
    display: none;
  }
}
.hero {
  background: url('images/hero/coast_desktop.jpeg') no-repeat center;
  background-size: 100%;
  height: 59vw;
  max-height: 75vh;
  width: 100%;
  display: flex;
  background-position-y: 35%;
}
.hero .heroTitle {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
  margin-top: 6%;
}
.hero .heroTitle .title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 3px #000000;
}
.hero .heroTitle .subtitleLarge > *,
.hero .heroTitle .subtitleSmall > * {
  color: #ffffff;
  padding: 0.2rem 0;
  text-shadow: 0 0 3px #000000;
  font-weight: 600;
}
.hero .heroTitle .subtitleLarge h2 {
  font-size: 1.6rem;
}
.hero .heroTitle .subtitleSmall {
  display: none;
}
.hero .heroTitle .subtitleSmall h2 {
  font-size: 1.3rem;
}
@media only screen and (max-width: 992px) {
  .hero .heroTitle {
    margin-left: 2rem;
  }
  .hero .heroTitle .title {
    font-size: 2.5rem;
  }
  .hero .heroTitle .subtitleLarge > *,
  .hero .heroTitle .subtitleSmall > * {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    background: url('images/hero/coast_mobile_v2.jpeg') no-repeat center;
    background-size: 100%;
    height: 85vw;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-position-y: 30%;
  }
  .hero .heroTitle {
    margin-left: 1rem;
    align-items: flex-start;
  }
  .hero .heroTitle .subtitleLarge {
    display: none;
  }
  .hero .heroTitle .subtitleSmall {
    display: flex;
  }
}
@media only screen and (max-width: 480px) {
  .hero {
    background-position-y: center;
    align-items: center;
  }
  .hero .heroTitle {
    margin-left: 0.5rem;
    margin-top: 0;
  }
  .hero .heroTitle .title {
    margin-bottom: 1rem;
  }
  .hero .heroTitle .subtitleSmall {
    font-size: 1.2rem;
  }
  .hero .heroTitle .heroScrollHelper {
    display: none;
  }
}
.intro .profileImg {
  background: url('images/profile_pic.jpeg') no-repeat center;
  background-size: 106%;
  width: 22vw;
  height: 22vw;
  border-radius: 500px;
  margin: 1rem 3rem;
  min-width: 200px;
  min-height: 200px;
}
.intro .description {
  max-width: 700px;
}
@media only screen and (max-width: 768px) {
  .intro {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .intro .description {
    width: auto;
  }
}
.aboutMeBulletsContainer {
  background-color: #eeeeee;
  font-size: 18px;
}
.aboutMeBulletsContainer .aboutMeBullets {
  display: flex;
  align-content: flex-start;
  padding-bottom: 1rem;
}
.aboutMeBulletsContainer .aboutMeBullets h3 {
  color: #C42348;
}
.aboutMeBulletsContainer .aboutMeBullets > * {
  padding: 0.5rem;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .aboutMeBulletsContainer {
    padding: 1rem 0;
  }
  .aboutMeBulletsContainer .aboutMeBullets {
    padding-bottom: 0;
    flex-direction: column;
  }
  .aboutMeBulletsContainer .aboutMeBullets h3 {
    text-align: center;
  }
}
.newsContainer .newsTable {
  height: fit-content;
}
.newsContainer .newsTable td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 4px solid #296EB4;
}
.newsContainer .newsTable td:first-child {
  padding-right: 2rem;
  white-space: nowrap;
  font-weight: bold;
}
.newsContainer .newsTable .newsDescription {
  height: 100%;
  max-width: 500px;
}
.newsContainer .newsTable .imageDescription {
  font-style: italic;
}
.newsContainer .newsTable .imageContainer,
.newsContainer .newsTable img {
  max-width: 25vw;
  min-width: 250px;
  align-items: flex-end;
}
.newsContainer .newsTable h3 {
  color: #C42348;
}
@media only screen and (max-width: 768px) {
  .newsContainer .newsTable tr {
    border-top: 4px solid #296EB4;
    display: flex;
    flex-direction: column;
  }
  .newsContainer .newsTable tr td {
    border-top: none;
  }
}
.projectContainer {
  border-top: 4px solid #296EB4;
  margin: 1em 0;
}
.projectContainer .projectHeader {
  display: flex;
  flex-direction: column;
}
.projectContainer .projectHeader > div {
  display: flex;
  flex-basis: 100%;
  align-items: baseline;
}
.projectContainer .projectHeader h2 {
  color: #C42348;
}
.projectContainer .projectHeader .projectType,
.projectContainer .projectHeader .projectDate {
  color: #296EB4;
  margin-left: auto;
  white-space: nowrap;
  padding-left: 0.5em;
}
.projectContainer .projectHeader ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -0.5em;
  flex-basis: 100%;
  padding: 0;
}
.projectContainer .projectHeader ul li {
  font-weight: bold;
  padding-left: 0.5em;
}
.projectContainer .projectHeader ul li:not(:last-child):after {
  content: "\2022";
  padding-left: 0.5em;
}
.projectContainer .projectHeader ul li.active {
  background: #caf3e7;
}
.projectContainer .projectContent {
  padding: 1rem 1rem;
}
.projectContainer .projectContent .imageAndDescriptionContainer {
  align-items: flex-start;
}
.projectContainer .projectContent .descriptionContainer {
  flex: 1.5;
  max-width: 800px;
}
.projectContainer .projectContent .imageContainer {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 600px;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.projectContainer .projectContent .imageContainer.singleImage img {
  width: 100%;
}
.projectContainer .projectContent .imageContainer:not(.singleImage) img {
  max-height: 180px;
  border: 1px solid #ffffff;
}
.projectContainer .projectContent .imageContainer .imageDescription {
  font-style: italic;
  text-align: right;
}
.projectContainer .extraDocs {
  padding-top: 1rem;
}
@media only screen and (max-width: 768px) {
  .projectContainer .projectContent {
    padding-right: 0;
  }
  .projectContainer .projectContent .imageAndDescriptionContainer {
    flex-direction: column-reverse;
  }
  .projectContainer .projectContent .imageContainer {
    padding-right: 0;
  }
}
.projectFilteringContainer {
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  border: 2px solid #08AF80;
}
.projectFilteringContainer h2 {
  color: #08AF80;
}
.projectFilteringContainer #filterSearchInput {
  width: 250px;
  height: 2em;
  border-radius: 4px;
  border: 1px solid #08AF80;
  outline: 0 none;
}
.projectFilteringContainer #filterSearchInput:focus,
.projectFilteringContainer #filterSearchInput:focus-visible {
  box-shadow: 0 0 1px 1px #08AF80;
}
.projectFilteringContainer #filterSearchClearIcon {
  margin-left: -30px;
  font-size: 1.5em;
  cursor: pointer;
}
.projectFilteringContainer #noTagsMessage {
  padding-left: 0.5em;
}
.projectFilteringContainer #extraTagsContainer {
  padding-left: 0.5em;
  padding-top: 1em;
}
.projectFilteringContainer #extraTagsContainer h4 {
  margin-right: 0.5em;
}
.projectFilteringContainer ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.projectFilteringContainer ul li {
  padding-left: 0.5em;
  cursor: pointer;
  display: flex;
  margin: 1px;
  align-items: center;
}
.projectFilteringContainer ul li:not(:last-child):after {
  content: "\2022";
  padding-left: 0.5em;
}
.projectFilteringContainer ul li i {
  display: none;
  font-size: 1.2em;
  pointer-events: none;
}
.projectFilteringContainer ul li.active {
  border-radius: 20px;
  background: #caf3e7;
}
.projectFilteringContainer ul li.active i {
  display: block;
  color: #296EB4;
}
.projectFilteringContainer ul li.active::after {
  content: none;
  padding-left: 0;
}
@media only screen and (min-width: 768px) {
  .projectFilteringContainer ul li:hover {
    border-radius: 20px;
    background: #caf3e7;
  }
}
@media only screen and (max-width: 768px) {
  .projectFilteringContainer {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
}
.topProjectsContainer {
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 2em;
  border: 2px solid #08AF80;
}
.topProjectsContainer h2 {
  color: #08AF80;
}
.topProjectsContainer a {
  cursor: pointer;
  margin: 1px;
}
@media only screen and (min-width: 768px) {
  .topProjectsContainer a:hover {
    border-radius: 20px;
    background: #caf3e7;
  }
}
.topProjectsContainer a:not(:last-child):after {
  content: "\2022";
  padding-left: 0.5em;
}
@media only screen and (max-width: 768px) {
  .topProjectsContainer {
    padding: 0.5em;
    margin-bottom: 1em;
  }
}
.footer {
  width: 100%;
  background-color: #444444;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
  height: 30px;
  margin-top: auto;
}
